* {
    margin-left: 0px;
    margin-right: 0;
    
}
body {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: top left;
    font-family: 'Roboto', sans-serif;  
}
.highlight {
    color: orange;
    transition:  all 1.5s ease-in-out 0s;
}
.highlight:hover {
    color: blue;
    
}
h1 {
    font-size: 50px;
    font-weight: 700px;
}
h2 {
    font-size: 40px;
}
.para {
    font-size: 24px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    
}
.container1 {
    display: flex;
    /* flex-wrap: wrap; */
    justify-items: center;
    /* align-items:center; */
    /* border: 2px solid black; */
    padding: 10px;
    margin-bottom: 30px;
    
}
@media (max-width: 1200px) {
    .container1 {
        flex-direction: column;
    }
    
    #sec1 {
        flex-direction: column;
    }
    #sec2 {
        flex-direction: column-reverse
    }
    .half-width {
        width: 100%;
    }
    
}
.half-width {
    width: 50%;
    height: 100;
    margin: 0px 20px;
    /* border: 2px solid rgb(220, 19, 19); */
}
.pera-top {
    justify-self: start;
}
.half-width img {
    width: 100%;
}

.link-button {
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    /* margin-top: 10px; */
    color: white;
    background-image: linear-gradient(90deg, blue, cyan);
    font-size: 20px;
    font-weight: 900;
    transition: transform 10.5s ease-in-out 0s;
}
.link-button:hover {
    transform: scale(5.2); /*doesn't work*/
}
footer{
    display: flex;
    justify-content: center;
    color: blue;
}